.error {
	color: purple;
	font-size: 12px;
}

.createPokemonContainer {
	width: 100%;
	min-height: 100vh;
	background-image: url("../../assets/FondoPokemonCreate.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.formContainer {
	display: grid;
	place-items: center;
	width: 100%;
	min-height: calc(100vh - 80px);
	padding-top: 25px;
}

.form {
	width: 780px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 10px 30px 20px 30px;
	background-color: rgba(255, 255, 255, 0.4);
	border-radius: 15px;
	backdrop-filter: blur(10px);
	font-weight: 500;
	gap: 5px;
}

.titleCreatePokemon {
	margin: 20px 5px;
	font-size: 25px;
	text-align: center;
}

.columnsContainer {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 10px;
}

.columnInfo {
	display: flex;
	flex-direction: column;
	gap: 5px;
}

.rowInfo {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 90%;
}

.buttonCreatePokemon {
	padding: 15px 20px;
	margin: 20px 0 10px 0;
	border-radius: 10px;
	border: solid 1px #333;
	background-color: #333;
	color: #fff;
}

.buttonCreatePokemon:hover {
	background-color: transparent;
	color: #333;
}

@media (max-width: 800px) {
	.createPokemonContainer {
		height: auto;
		padding-bottom: 25px;
	}
	.form {
		width: 300px;
		font-size: 14px;
		padding: 10px 25px 20px 25px;
		text-align: center;
	}

	.columnsContainer {
		display: grid;
		grid-template-columns: 1fr;
		gap: 10px;
	}

	.rowInfo {
		justify-content: space-between;
		width: 100%;
	}
}
