.error {
	color: tomato;
	font-size: 12px;
}

.createPokemonContainer {
	width: 100%;
	height: 100vh;
	background-image: url("../../assets/FondoPokemonCreate.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.formContainer {
	display: grid;
	place-items: center;
	width: 100%;
	height: calc(100vh - 80px);
	padding-top: 25px;
}

.form {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 5px 50px 20px 50px;
	background-color: rgba(255, 255, 255, 0.4);
	border-radius: 15px;
	backdrop-filter: blur(5px);
	font-weight: 500;
	gap: 5px;
}

.titleCreatePokemon {
	margin: 10px 5px;
	font-size: 25px;
}

.buttonCreatePokemon {
	padding: 10px;
}

.rowInfo {
	display: flex;
	justify-content: space-between;
	width: 80%;
}
