.error {
	color: purple;
	font-size: 12px;
}

.createPokemonContainer {
	width: 100%;
	height: 100vh;
	background-image: url("../../assets/FondoPokemonCreate.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.formContainer {
	display: grid;
	place-items: center;
	width: 100%;
	height: calc(100vh - 80px);
	padding-top: 25px;
}

.form {
	width: 800px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 10px 50px 20px 50px;
	background-color: rgba(255, 255, 255, 0.4);
	border-radius: 15px;
	backdrop-filter: blur(10px);
	font-weight: 500;
	gap: 5px;
}

.titleCreatePokemon {
	margin: 20px 5px;
	font-size: 25px;
}

.columnsContainer {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 10px;
}

.columnInfo {
	display: flex;
	flex-direction: column;
	gap: 5px;
}

.rowInfo {
	display: flex;
	justify-content: space-between;
	width: 90%;
}

.buttonCreatePokemon {
	padding: 15px 20px;
	margin: 20px 0 10px 0;
	border-radius: 10px;
	border: solid 1px #333;
	background-color: #333;
	color: #fff;
}

.buttonCreatePokemon:hover {
	background-color: transparent;
	color: #333;
}
