.detailsContainer {
	width: 100%;
	height: 100vh;
	background-image: url("../../assets/FondoPokemonDetails2.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.pokeInfoContainer {
	width: 100%;
	height: calc(100vh - 60px);
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	padding-bottom: 100px;
}

.pokeInfoImgContainer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 20px;
}

.pokeInfoImg {
	width: 400px;
}

.pokeInfoDetailsContainer {
	width: 100%;
	display: grid;
	place-items: center;
}

.tableInfoContainer {
	width: 400px;
	height: 300px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	background: white;
}

.rowInfo {
	display: flex;
}
