.pokeInfoContainer {
	width: 100%;
	height: 90vh;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
}

.pokeInfoImgContainer {
	display: grid;
	place-items: center;
}

.pokeInfoDetailsContainer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin: 0 auto;
}
