.landingContainer {
	width: 100%;
	height: 100vh;
	display: grid;
	place-items: center;
	background-image: url("../../assets/FondoPokemonInicio.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;

	padding: 20px;
}

.infoContainer {
	width: 500px;
	height: 250px;
	color: #fff;
	background-color: rgba(128, 128, 128, 0.3);
	border: solid 1px rgba(128, 128, 128, 0.3);
	border-radius: 10px;
	backdrop-filter: blur(5px);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 30px;
}

.landingButton {
	padding: 10px 20px;
	color: #333;
	border: solid 1px #fff;
	border-radius: 5px;
	background: #fff;
}

.landingButton:hover {
	background-color: #af0f47;
	border: solid 1px #af0f47;
	color: #fff;
}

@media (max-width: 550px) {
	.infoContainer {
		width: auto;
		padding: 30px;
		font-size: 14px;
		text-align: center;
	}
}
