.notFoundContainer {
	width: 100%;
	min-height: 100vh;
	background-color: rgb(229, 229, 229);
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	padding-top: 50px;
}

.notFoundTextContainer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 0 25px;
	margin-bottom: 25px;
	gap: 10px;
	text-align: center;
}

.notFoundImg {
	height: 450px;
}

.notFoundTextError {
	font-size: 14px;
	font-weight: bold;
}

.notFoundButton {
	padding: 10px 20px;
	color: #fff;
	border: solid 1px #333;
	border-radius: 5px;
	background: #333;
}

.notFoundButton:hover {
	background-color: #af0f47;
	border: solid 1px #af0f47;

	color: #fff;
}
