* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
li {
	list-style: none;
}
a {
	text-decoration: none;
	color: #333;
}
input,
select {
	outline: none;
}
button {
	cursor: pointer;
	font-family: "Montserrat", sans-serif;
}
button:disabled,
button[disabled],
button[disabled]:hover {
	border: 1px solid #999999;
	background-color: #cccccc;
	color: #666666;
	cursor: default;
}

input,
select {
	font-family: "Montserrat", sans-serif;
	padding: 5px 5px;
	border: solid 1px #333;
	border-radius: 10px;
	background-color: rgba(255, 255, 255, 0.6);
}

select {
	margin-left: 5px;
}

body {
	/* font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
		"Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
		sans-serif; */
	font-family: "Montserrat", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
		monospace;
}
