.cardContainer {
	width: 190px;
	height: 230px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	border: solid 1px #333;
	border-radius: 10px;
}
.cardImageContainer {
	border-bottom: solid 1px #333;
	width: 100%;
	height: 180px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.cardImg {
	width: 150px;
}

.cardInfo {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	padding: 10px;
	gap: 5px;
}

.cardTypes {
	width: 100%;
	display: flex;
	justify-content: space-around;
}

.type {
	color: white;
	font-size: 14px;
	padding: 3px 10px;
	border-radius: 10px;
}

.type[value="grass"] {
	background-color: #5ebd5b;
}
.type[value="fire"] {
	background: #e48621;
}
.type[value="water"] {
	background-color: #096fc8;
}
.type[value="ground"] {
	background-color: #c7b78a;
}
.type[value="electric"] {
	background-color: #f0d84a;
}
.type[value="flying"] {
	background-color: #ef97e6;
}
.type[value="poison"] {
	background-color: #7c3c8b;
}
.type[value="normal"] {
	background-color: #979ba2;
}
.type[value="psychic"] {
	background-color: #f77676;
}
.type[value="dragon"] {
	background-color: #d3425f;
}
.type[value="ice"] {
	background-color: #4f96de;
}
.type[value="rock"] {
	background-color: #da7b4b;
}
.type[value="bug"] {
	background-color: #97be2e;
}
.type[value="ghost"] {
	background-color: #5c6db7;
}
.type[value="fighting"] {
	background: #db9953;
}
.type[value="fairy"] {
	background: rgb(244, 217, 208);
}
