*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

@keyframes bounce {
	10% {
		transform: translateY(-35px);
	}
	15% {
		transform: translateY(0px);
	}
	25% {
		transform: translateY(-15px);
	}
	30% {
		transform: translateY(0px);
	}
	50% {
		transform: rotateZ(10deg);
	}
	60% {
		transform: rotateZ(-10deg);
	}
	70% {
		transform: rotateZ(10deg);
	}
	100% {
		transform: rotateZ(0deg);
	}
}
@keyframes shadow {
	10% {
		transform: scaleX(0.6);
	}
	15% {
		transform: scaleX(1);
	}
	25% {
		transform: scaleX(0.8);
	}
	30% {
		transform: scaleX(1);
	}
	50% {
		transform: translateX(5px);
	}
	60% {
		transform: translateX(-5px);
	}
	70% {
		transform: translateX(5px);
	}
	100% {
		transform: translateX(0px);
	}
}
.loader {
	align-items: center;
	background: linear-gradient(15deg, #af0f47 0%, #37121e 100%);
	display: flex;
	height: 100%;
	justify-content: center;
	left: 0;
	overflow: hidden;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 12121996;
}
.loader .pokeball-container {
	height: 150px;
	position: relative;
	width: 150px;
}
.loader .pokeball-container::after {
	animation-duration: 2s;
	animation-iteration-count: infinite;
	animation-name: shadow;
	animation-timing-function: ease-in-out;
	background-color: #320a0a;
	border-radius: 50%;
	bottom: -5px;
	content: "";
	height: 10px;
	left: 30px;
	position: absolute;
	width: 90px;
	z-index: -1;
}
.loader .pokeball-container .pokeball {
	animation-duration: 2s;
	animation-iteration-count: infinite;
	animation-name: bounce;
	animation-timing-function: ease-in-out;
	height: 100%;
	position: relative;
	transform-origin: bottom center;
	width: 100%;
}
.loader .pokeball-container .pokeball::after {
	border-color: black;
	border-radius: 50%;
	border-style: solid;
	border-width: 3px;
	background: linear-gradient(
		0deg,
		white 0%,
		#fffefe 49.5%,
		black 49.5%,
		black 51.5%,
		#f4001f 51.5%,
		red 100%
	);
	content: "";
	height: 100%;
	position: absolute;
	width: 100%;
}
.loader .pokeball-container .pokeball::before {
	border-radius: 50%;
	border: 3px solid black;
	background: radial-gradient(
		circle,
		white 0%,
		white 40%,
		black 40%,
		black 60%,
		white 60%,
		white 100%
	);
	content: "";
	height: 30px;
	left: 50%;
	position: absolute;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 30px;
	z-index: 1;
}
