.paginatedContainer {
	margin: 0 0 5px 0;
}

.numberButton {
	width: 25px;
	height: 25px;
	margin: 5px 5px;
	border-radius: 50%;
	border: solid 1px #333;
	font-size: 12px;
}

.numberButton:hover,
.currentButton:hover {
	background: tomato;
	color: white;
	border: solid 1px tomato;
	cursor: pointer;
}

.currentButton {
	width: 40px;
	height: 20px;
	margin: 0 10px;
	border: solid 1px #333;
	border-radius: 20px;
	font-size: 12px;
}
